.Card {
  &__title {
    text-align: center;
    padding: 2rem;
  }
  &__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
  }

  &__img {
    text-align: center;
    > img {
      width: 30rem;
      padding-top: 7rem;
    }
  }
}
