.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #f4b860;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.Navbar__svg {
  padding-right: 1rem;
}

a {
  text-decoration: none;
  color: white;
}
.Navbar__search {
  position: relative;
  display: flex;
  width: 100%;
}

.Navbar__searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #a3acac;
  background: #a3acac;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.Navbar__input {
  width: 100%;
  border: 3px solid #a3acac;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

@media (min-width: 1000px) {
  .Navbar {
    padding: 3rem;
  }
  Link {
    font-weight: 2rem;
  }
}
