ul {
  list-style: none;
}

.TodoList__ul {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  > li {
    border: 1px solid #4a5859;
    border-radius: 30px;

    width: 17rem;
    margin: inherit;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.TodoList__done {
  background-color: rgb(255, 227, 187);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TodoList__Start {
  cursor: pointer;
}
.TodoList__button {
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: rgb(244, 184, 96);
  color: white;
  font-weight: bold;
}
.TodoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    width: 25rem;
  }
}

@media (min-width: 1000px) {
  .TodoList__img {
    width: 50rem;
  }
}
